In [2]:
x = ['a','b','bc','dd']

In [3]:
x

['a', 'b', 'bc', 'dd']

In [4]:
x[0]

'a'

In [5]:
x[1]

'b'

In [6]:
x[0:2]

['a', 'b']

In [7]:
x[1:3]

['b', 'bc']

In [8]:
len(x[2])

2

In [9]:
x

['a', 'b', 'bc', 'dd']

In [10]:
x.append('xy')

In [11]:
x

['a', 'b', 'bc', 'dd', 'xy']

In [12]:
x.insert(2,'cd')

In [13]:
x

['a', 'b', 'cd', 'bc', 'dd', 'xy']

In [14]:
x.remove('xy')

In [15]:
x

['a', 'b', 'cd', 'bc', 'dd']

In [16]:
range(4)

range(0, 4)

In [17]:
for i in range(4):
    print(i)

0
1
2
3

In [18]:
x

['a', 'b', 'cd', 'bc', 'dd']

In [19]:
for i in range(5):
    print(x[i])

a
b
cd
bc
dd

In [20]:
for i in range(5):
    if len(x[i])==2:
        print(i, x[i])

2 cd
3 bc
4 dd

In [21]:
for i in range(1,5):
    print(i)

1
2
3
4

In [1]:
f = []

In [2]:
f

[]

In [3]:
f= [0,1]

In [4]:
f[0]

0

In [5]:
f[1]

1

In [6]:
f[-1]

1

In [7]:
f[-2]

0

In [8]:
f

[0, 1]

In [10]:
f.append(f[-1]+f[-2])

In [11]:
f

[0, 1, 1]

In [12]:
f=[0,1]
for i in range(10):
    f.append(f[-1]+f[-2])
    print(i, f)

0 [0, 1, 1]
1 [0, 1, 1, 2]
2 [0, 1, 1, 2, 3]
3 [0, 1, 1, 2, 3, 5]
4 [0, 1, 1, 2, 3, 5, 8]
5 [0, 1, 1, 2, 3, 5, 8, 13]
6 [0, 1, 1, 2, 3, 5, 8, 13, 21]
7 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
8 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [13]:
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [16]:
f = [0,1]
a = f[-1]+f[-2]
i = 0

while a < 400:
    f.append(a)
    a= f[-1]+f[-2]
    print(i, f)
    i += 1

0 [0, 1, 1]
1 [0, 1, 1, 2]
2 [0, 1, 1, 2, 3]
3 [0, 1, 1, 2, 3, 5]
4 [0, 1, 1, 2, 3, 5, 8]
5 [0, 1, 1, 2, 3, 5, 8, 13]
6 [0, 1, 1, 2, 3, 5, 8, 13, 21]
7 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
8 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
10 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
11 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
12 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [21]:
def fibo(n):
    f = [0,1]
    a = f[-1]+f[-2]
    i = 0
    
    while a < n:
        f.append(a)
        a= f[-1]+f[-2]
        print(i, f)
        i += 1
    
    return f

In [22]:
fibo(100)

0 [0, 1, 1]
1 [0, 1, 1, 2]
2 [0, 1, 1, 2, 3]
3 [0, 1, 1, 2, 3, 5]
4 [0, 1, 1, 2, 3, 5, 8]
5 [0, 1, 1, 2, 3, 5, 8, 13]
6 [0, 1, 1, 2, 3, 5, 8, 13, 21]
7 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
8 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [23]:
fibo(200)

0 [0, 1, 1]
1 [0, 1, 1, 2]
2 [0, 1, 1, 2, 3]
3 [0, 1, 1, 2, 3, 5]
4 [0, 1, 1, 2, 3, 5, 8]
5 [0, 1, 1, 2, 3, 5, 8, 13]
6 [0, 1, 1, 2, 3, 5, 8, 13, 21]
7 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
8 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
10 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [24]:
fibo(1000)

0 [0, 1, 1]
1 [0, 1, 1, 2]
2 [0, 1, 1, 2, 3]
3 [0, 1, 1, 2, 3, 5]
4 [0, 1, 1, 2, 3, 5, 8]
5 [0, 1, 1, 2, 3, 5, 8, 13]
6 [0, 1, 1, 2, 3, 5, 8, 13, 21]
7 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
8 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
10 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
11 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]
12 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
13 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
14 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [25]:
for i in range(2,4):
    print(i)

2
3

In [26]:
i = 10
for j in range(2,i):
    print(j, i%j)

2 0
3 1
4 2
5 0
6 4
7 3
8 2
9 1

In [27]:
n=10
for i in range(2, n):
    for j in range(1, i):
        print(i, i%j)

2 0
3 0
3 1
4 0
4 0
4 1
5 0
5 1
5 2
5 1
6 0
6 0
6 0
6 2
6 1
7 0
7 1
7 1
7 3
7 2
7 1
8 0
8 0
8 2
8 0
8 3
8 2
8 1
9 0
9 1
9 0
9 1
9 4
9 3
9 2
9 1

In [35]:
def prime(n):
    f = []
    
    for i in range(2, n):
        zero = 0
        
        for j in range(1, i):
            if i%j == 0:
                zero += 1
        
        if zero == 1:
            f.append(i)
            
    return f

In [38]:
result = prime(100)
result

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [39]:
a = '1234'

In [40]:
a

'1234'

In [41]:
int(a)

1234

In [42]:
float(a)

1234.0

In [43]:
a = 'ababac'

In [44]:
a

'ababac'

In [45]:
a.replace('a', 'b')

'bbbbbc'

In [46]:
a

'ababac'

In [47]:
b = a.replace('a', 'b')

In [49]:
a

'ababac'

In [51]:
b

'bbbbbc'

In [52]:
a.count('a')

3

In [53]:
a.count('ab')

2

In [56]:
a = '1,234'

In [57]:
a

'1,234'

In [58]:
int(a)

ValueError: invalid literal for int() with base 10: '1,234'

In [59]:
b = a.replace(',', '')

In [60]:
b

'1234'

In [61]:
int(b)

1234

In [64]:
a = 20210504

In [65]:
a

20210504

In [70]:
#몇 년도인지 구하는 법
a//10000

2021

In [67]:
#몇 년_월인지 구하는 법
a//100

202105

In [68]:
#몇 월인지 구하는 법
(a//100)%100

5

In [69]:
#몇 일인지 구하는 법
a%100

4

In [72]:
from datetime import date
b = date(2021, 5, 4)

In [73]:
b

datetime.date(2021, 5, 4)

In [74]:
c = date(2021, 11, 4)

In [75]:
c

datetime.date(2021, 11, 4)

In [76]:
c-b

datetime.timedelta(days=184)

In [77]:
(c-b).days

184

In [78]:
(c-b).days/365

0.5041095890410959

In [1]:
from datetime import date

def int_to_date(x):
    y = x//10000
    m = (x//100)%100
    d = x%100
    return date(y,m,d)

In [2]:
a = 20210504
b = 20211104
t = int_to_date(a)
T = int_to_date(b)
ttm = (T-t).days/365
ttm

0.5041095890410959